.container {
    width: 360px;
    height: 450px;
    background-color: #fff;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
  }
  
  ::placeholder {
    font-family: "Lato", sans-serif;
    text-align: center;
  }
  
  .container__form-input {
    width: 300px;
    height: 45px;
    border: 1px solid #ccc;
    margin-left: 30px;
    margin-top: 13px;
    outline-color: #1976d2;
  }
  
  .container__form-button {
    background-color: #232D4B;
    width: 250px;
    height: 45px;
    font-size: 1rem;
    margin-top: 22px;
    margin-left: 50px;
    border-radius: 4px;
    border: none;
    color: white;
  }
  
  .container__form-button-disabled {
    width: 250px;
    height: 45px;
    font-size: 1rem;
    margin-top: 22px;
    margin-left: 50px;
    border-radius: 4px;
    border: none;
    background-color: #eeeeee;
  }
  
  body {
    background-color: #f2f2f2;
  }
  
  @media (min-width: 1000px) {
    .container {
      width: 500px;
      height: 450px;
      background-color: #fff;
      box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 100px auto;
    }
    .container__form-input {
      width: 350px;
      height: 45px;
      margin-left: 80px;
    }
    .container__form-button-disabled,
    .container__form-button {
      width: 350px;
      margin-top: 22px;
      margin-left: 83px;
    }
  }
  